Package: kidtimer
Version: 1.0-0
Section: utils
Priority: optional
Architecture: all
Depends: at, libnotify-bin, bsdutils
Installed-Size: 8
Maintainer: Jim Dunphy <Jim.Dunphy@gmail.com>
Homepage: http://github.com/JimDunphy/kidtimer
Description: Set daily limits on computer time.
